<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<description>The application context for orm</description>
	<bean id="customer" class="com.edev.trade.customer.service.impl.CustomerServiceImpl">
		<property name="dao" ref="repositoryWithCache"/>
	</bean>
	<bean id="vip" class="com.edev.trade.customer.service.impl.VipServiceImpl">
		<property name="dao" ref="repositoryWithCache"/>
	</bean>
	<bean id="account" class="com.edev.trade.customer.service.impl.AccountServiceImpl">
		<property name="dao" ref="repositoryWithCache"/>
	</bean>
</beans>