<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<description>The application context for query</description>
	<bean id="productQry" class="com.edev.support.ddd.AutofillQueryServiceImpl">
		<property name="queryDao">
			<bean class="com.edev.support.dao.impl.QueryDaoMybatisImpl">
				<property name="entityClass" value="com.edev.trade.product.entity.Product"/>
				<property name="sqlMapper" value="com.edev.trade.query.dao.ProductMapper"/>
			</bean>
		</property>
		<property name="dao" ref="basicDao"/>
	</bean>
</beans>